################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/wxWebApi/config/applicationhost.config
/.vs/wxWebApi
/.vs
/wxWebApi
